html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: hsla(0, 0%, 30%, 1);
}

a {
    color: hsl(235, 65%, 70%);
    text-decoration: none;
}

/* Header */

header .mobile {
    display: none;
}

header .desktop {
    position: fixed;
    width: 100%;
    height: 2.9090rem;
    top: 0;
    z-index: 100;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header h3 {
    color: gray;
}

header span {
    color: lightgray;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 1.0909rem;
    font-size: 0.81rem;
}

header nav li {
    padding-right: 0.72rem;
}

@media only screen and (max-width: 720px) {

    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
        height: 2.9rem;
        margin: 0;
    }

    header ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
    }

    header li {
        list-style: none;
    }
}

/* Main */

/* Landing Page */

main {
    margin-top: 2.9rem;
    background-color: hsla(0, 0%, 70%, 1);
}

main .landing {
    display: flex;
}

.landing #banner {
    margin: 1.45rem 1.09rem;
    width: 60%;
    height: auto;
}

.landing .landing-text {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    color: hsla(0, 0%, 30%, 1);
}

.landing .landing-text h1 {
    font-size: 2.27rem;
}

.landing-text h3{
    font-size: 1.45rem;
}

.landing .landing-text .button {
    padding: 0.36rem auto;
    width: 100%;
    background-color: hsla(0, 0%, 30%, 1);
    box-shadow: none;
    text-align: center;
    border-radius: 4px;
}

.button p {
    color: white;
}

@media only screen and (max-width: 720px) {

    main {
        margin-top: 0;
    }

    .landing {
        display: flex;
        justify-items: flex-start;
        align-content: center;
        flex-direction: column;
    }

    .landing #banner {
        width: 100%;
        margin: 0;
    }

    .landing .landing-text {
        display: block;
        padding: 1.45rem 0.72rem;
        width: auto;
        padding: 0.72rem;
    }

    .landing #button {
        padding: 1.09rem 0 1.45rem 0;
        font-size: 1rem;
    }

    .landing #button p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

/* Informal */

.informal {
    background-color: hsla(0, 0%, 90%, 1);
    display: flex;
}

.informal .practicing {
    margin: 1.45rem 1.09rem;
    width: 60%;
    color: hsla(0, 0%, 30%, 1);
}

.practicing img {
    width: 100%;
}

.practicing h2 {
    font-size: 2.27rem;
}

.informal .small-containers {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid hsla(0, 0%, 80%, 1);
}

.small-containers .container {
    display: flex;
    justify-items: space-around;
    align-content: center;
    padding: 1.45rem 0.72rem 0.72rem 0.72rem;
    border: 1px solid hsla(0, 0%, 80%, 1);
}

#guest {
    background-color: hsla(0, 0%, 80%, 1);
}

.container img {
    width: 35%;
    height: auto;
}

.container ul {
    list-style: none;
    width: 65%;
    font-size: 0.72rem;
}

@media only screen and (max-width: 720px) {

    .informal .practicing {
        display: none;
    }

    .informal .small-containers {
        width: 100%;
        padding: 0.72rem;
    }

    .informal .small-containers img {
        width: 100%;
        height: auto;
    }

    .informal .small-containers .container {
        display: flex;
        flex-direction: column;
        border: hidden;
        padding: 0;
    }

    .container ul {
        font-size: 1rem;
    }
}

/* Learning */

.learning {
    background-color: hsla(0, 0%, 80%, 1);
    bottom: 1.45rem;
}

.learning h2 {
    text-align: center;
    margin: 0;
    padding: 1.45rem 0;
}

.courses img {
    height: auto;
    width: 100%;
}

.learning .mobile {
    display: none;
}

.courses {
    margin:  0 2.54rem;
    display: flex;
    flex-wrap: wrap;
}

.course {
    width: 30%;
    margin: 0.72rem;
    background-color: white;
}

.course h4 {
    padding: 0.72rem;
    margin-block: 0;
}

.course p {
    padding: 0.72rem;
    margin-block: 0;
}

@media only screen and (max-width: 720px) {

    .learning {
        background-color: hsla(0, 0%, 90%, 1);
    }

    .learning .courses {
        display: none;
    }

    .learning .mobile {
        display: block;
        text-align: left;
        background-color: hsla(0, 0%, 80%, 1);
    }

    .learning h4 {
        display: block;
        padding: 0.72rem 0.72rem 1.02rem 0.72rem;
        margin: 0;
        border: 8px solid hsla(0, 0%, 90%, 1);
    }
}

/* Thesis */

.thesis {
    background-color: hsla(0, 0%, 90%, 1);
    bottom: 1.45rem;
}

.mobile-video {
    display: none;
}

.thesis h2 {
    text-align: center;
    margin: 0;
    padding: 1.45rem 0;
}

.thesis-main {
    display: flex;
}

.thesis .thesis-video {
    width: 60%;
    padding: 0 24px 24px 24px;
}

.thesis video {
    width: 100%;
}

.thesis-containers {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 40%;
    padding: 0.72rem;
}

.thesis-containers .container {
    display: flex;
    align-content: center;
    padding: 0.75rem;
}

#fisma {
    background-color: hsla(0, 0%, 80%, 1);
}

.thesis-containers img {
    height: auto;
    width: 35%;
}

.thesis-containers ul {
    list-style: none;
    width: 65%;
    font-size: 0.75rem;
}

@media only screen and (max-width: 720px) {

    .thesis-main {
        display: none;
    }

    .thesis .mobile-video {
        display: block;
        bottom: 1.09rem;
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 1.09rem;
}

footer li {
    padding-right: 0.75rem;
}

@media only screen and (max-width: 720px) {

    .footer ul {
        display: none;
    } 
}