html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    background-color: lightgray;
    color: hsla(0, 0%, 30%, 1);
}

/* Header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header h3 {
    color: gray;
}

header span {
    color: lightgray;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 24px;
}

header nav li {
    padding-right: 16px;
}

/* Main */

/* Landing Page */

main {
    margin-top: 84px;
}

main .landing {
    display: flex;
}

.landing #banner {
    margin: 32px 24px;
    width: 60%;
    height: auto;
}

.landing .landing-text {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    color: hsla(0, 0%, 30%, 1);
}

.landing .landing-text h1 {
    font-size: 50px;
}

.landing-text h3{
    font-size: 32px;
}

.landing .landing-text .button {
    padding: 8px auto;
    width: 100%;
    background-color: hsla(0, 0%, 30%, 1);
    box-shadow: none;
    text-align: center;
    border-radius: 4px;
}

.button p {
    color: white;
}

/* Informal */

.informal {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.informal .practicing {
    margin: 34px 24px;
    width: 60%;
    color: hsla(0, 0%, 30%, 1);
}

.practicing img {
    width: 100%;
}

.practicing h2 {
    font-size: 50px;
}

.informal .small-containers {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 16px;
}

.small-containers .container {
    display: flex;
    justify-items: space-around;
    align-content: center;
    padding: 16px;
}

.container img {
    width: 35%;
    height: auto;
}

.container ul {
    list-style: none;
    width: 65%;
}

/* Learning */

.learning h2 {
    text-align: center;
}

.courses img {
    height: auto;
    width: 100%;
}

.courses {
    margin:  16px 56px;
    display: flex;
    flex-wrap: wrap;
}

.course {
    width: 30%;
    margin: 16px;
    background-color: white;
}

.course h4, p {
    padding: 16px;
    margin-block: 0;
}

/* Thesis */

.thesis {
    background-color: hsla(0, 0%, 80%, 1);
    display: flex;
    justify-content: space-between;
}

.thesis h2 {
    
    text-align: center;
}

.thesis .thesis-video {
    width: 60%;
}

.thesis video {
    width: 100%;
}

.thesis-containers {
    display: flex;
    flex-direction: column;
}

.thesis-containers img {
    height: auto;
    width: 35%;
}