html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo ul{
    display: flex;
    align-items: center;
    list-style: none;
}

header h3 {
    color: gray;
}

header span {
    color: lightgray;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 1.5rem;
}

header nav li {
    padding-right: 16px;
}

/* Main */

main {
    margin-top: 4rem;
}

main .landing {
    background-color: lightgray;
    display: flex;
}

.landing #banner {
    padding-left: 24px;
    width: 60%;
    height: auto;
}

.landing .landing-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 24px;
    text-align: left;
}

.landing .landing-text button {
    padding: 8px auto;
    width: 100%;
    background-color: darkgray;
    box-shadow: none;
}